* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	margin-left: 20px;
	font-size: 1.75em;
}

body {
	margin-left: 0px;
	margin-right: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
	.bigDiv {
		float: left;
		width: 33.33%;
	}
}

@media (min-width: 768px) AND (max-width: 991px)  {
	.bigDiv {
		float: left;
		width: 50%;
	}

	#bigDiv3 {
	width: 100%
}
}

@media (max-width: 767px) {
	.bigDiv {
		float: left;
		width: 100%;
	}
}

section {
	background-color: gray;
	border: 1px solid;
	margin: 0px 0px 20px 20px;
	/*position: relative;*/
	float: left;
}

div .textDiv {
	float:right;
	padding: 20px;
	
}

h2 {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	/*margin-right: 20px;*/
	display: inline-block;
	float:right;
	font-size: 1.25em;
}

#title1 {
	background-color: yellow;
}
#title2 {
	background-color: green;
}
#title3 {
	background-color: red;
}


